/* Mobile First */
  
  .group {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  
  .item-double {
    flex: 2;
    margin: 10px;
  }
  
  /* Desktop Second */
  
  @media all and (min-width: 800px) {
    section {
      padding: 0 10%;
    }
    .group {
      flex-direction: row;
    }
  }
  
  /* Contact Form Design */
  
  
  
  form input, 
  form textarea {
    width: 100%;
    margin-bottom: 20px;
  }
  
  form textarea {
    height: 160px;
  }